body {
  background: url("https://media.licdn.com/dms/image/v2/D5605AQHcvCyTjefPXg/videocover-low/B56ZzcvaF7KABU-/0/1773229943035?e=2147483647&v=beta&t=7ATV10v9I3YjTfoAvcRi7cpKxX-TG5Heh4TR-uxDvuo") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

